*{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
}
.site-header{
  position: relative;
}
ul, li {
  margin: 0;
  list-style-type: none;
}
a {
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
.limiter{
  margin-top: 25px;
}
.col {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.3333333%;
  margin-bottom: 30px;
}
.col-commentaire{
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  margin-bottom: 30px;
}
/*=========navbar============*/
.icon {
  display: none;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  opacity: 0.6;
}
.nav-bar ul li a{
  color: #ffffff;
  font-size: 18px;
}
.nav-bar ul li{
  padding-left: 43px;
}
.title-produit{
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  height: 100%;
  padding: 200px 0 0 230px;
}
.title-produit h1 {
  font-size: 4.5em;
}
.title-produit h2 {
  font-size: 2.5em;
}
/*=========table============*/
.container-table100 {
  width: 100%;
  min-height: 100px;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  margin-bottom: 60px;
}
table {
  border-spacing: 1px;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}
.table100-head th{
  font-family: OpenSans-Regular sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr {
  font-family: OpenSans-Regular sans-serif;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}
.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}
@media screen and (max-width: 1024px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular sans-serif;
    font-size: 30px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 360px) {
  tbody tr {
    font-size: 36px;
  }
  thead th {
    font-size: 36px;
  }
}
/*==========Slider============*/
.flexslider .flex-control-nav li a {
  width: 0;
  position: relative;
  height: 21px;
  text-indent: 41px;
  color: #00a2dd;
}

.flexslider .flex-control-nav li a:before {
  content: "";
  position: absolute;
  width: 39px;
  height: 5px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(188,125,228,1)));
  background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
}
.flexslider .flex-control-nav li a.flex-active {
  margin-left: 75px;
}
.flexslider .flex-control-nav li a.flex-active:before {
  left: -75px;
  width: 101px;
}
.flexslider .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 58%;
  z-index: 1;
}
.flex-control-nav li {
  margin: 0;
  display: block;
}
/*=========critere============*/
.homepage-boxes{
  padding: 110px 0;
}
.opening-hours ul {
  list-style: none;
}
.opening-hours ul li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #828282;
}
.faq-stuff {
  padding: 100px 0;
}
.our-critere-cont h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.our-critere-wrap h2{
  color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 600;
}
.our-critere-cont .entry-content p {
  font-size: 14px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1rem;
}
.our-critere-cont {
  margin-bottom: 64px;
}
/*=========partenaire============*/
.partenaire-team-wrap h4 {
  margin-top: 32px;
  font-size: 18px;
  font-weight: 600;
  color: #404040;
}
.partenaire-team-wrap h5{
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #828282;
}
.partenaire-team-wrap img {
  max-width: 100%;
  border-radius: 20px;
}
#partenaire h2 {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 48px;
  float: left;
  color: #404040;
}
/*=========commentaire============*/
.commentaire{
  position: relative;
}
#commentaire h2 {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 48px;
  float: left;
  color: #404040;
}
.commentaire-slider .entry-content p {
  position: relative;
  margin-top: 40px;
  font-size: 16px;
  line-height: 2;
  font-style: italic;
  color: #828282;
}
.commentaire-slider-wrap .entry-content p:before {
  content: '';
  position: absolute;
  top: -80px;
  left: 0;
  width: 46px;
  height: 46px;
  background: url(../images/png/testimonial-p-bg.png) no-repeat;
}
.commentaire-slider-wrap {
  position: relative;
  padding: 72px 100px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 40px 20px 27px rgba(0,0,0,.1);
}
.contact-page-short-boxes {
  padding: 100px 0;
}
.h-100 {
  position: relative;
  padding: 32px;
  border-radius: 20px;
  border: 2px solid #18a3eb;
}
.h-100 h2 {
  position: absolute;
  top: -26px;
  left: -2px;
  height: 48px;
  padding-right: 16px;
  background: #fff;
  font-size: 24px;
  font-weight: 600;
  color: #404040;
}
.contact-info ul {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}
.our-critere-wrap {
  padding: 60px 80px 80px;
  background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(188,125,228,1)));
  background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18a3eb', endColorstr='#18a3eb',GradientType=1 );
}
.paginate_button{
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
.current{
  background-color: #3f51b5;
  color: #ffffff;
}
.contact-info p {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}
/*=========back to top============*/
#back-to-top{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(188,125,228,1)));
  background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  color: #fff;
  transition: .3s;
  font-size: 20px;
  border-radius: 20%;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#back-to-top:focus, #back-to-top:hover{
  color: #fff;
  text-decoration: none;
}
#back-to-top.icon-top{
  z-index: 15;
  display: block;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/*=========ReseauSociaux============*/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-facebook:hover{
  background: #ffffff;
  color: #3B5998;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-twitter:hover{
  background: #ffffff;
  color: #55ACEE;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-youtube:hover{
  background: #ffffff;
  color: #bb0000;
}
.fa-google-plus {
  background: #dd4b39;
  color: white;
}
.fa-google-plus:hover{
  background: #ffffff;
  color: #dd4b39;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-linkedin:hover{
  background: #ffffff;
  color: #007bb5;
}
.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
}
.fa-instagram:hover{
  background: #ffffff;
  color: #d6249f;
}
.fa-globe {
  background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(188,125,228,1)));
  background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  color: white;
}
.fa-globe:hover {
  background: #ffffff;
  color: rgba(50,200,250,1);
}
.fa-tumblr {
  background: #2c4762;
  color: white;
}
.fa-tumblr:hover {
  background: #ffffff;
  color: #2c4762;
}
.fa-viadeo{
  background: #f07355;
  color: #ffffff;
}
.fa-viadeo:hover{
  background: #ffffff;
  color: #f07355;
}
.reseau-sociaux{
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 10;
}
#mapid{
  height: 500px;
}
#critere li{
  -webkit-box-shadow: 0px 8px 48px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 48px 0 rgba(0, 0, 0, 0.1);
}
li .title-critere {
  padding: 23.5px 70px;
  font-family: "sfnewrepublicbold";
  font-size: 100%;
  color: #9ab5be;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
li .title-critere:after {
  content: url('../images/svg/iconNosProduit.svg');
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 70px;
  margin: auto;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
li .critere-active {
  background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(188,125,228,1)));
  background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  color: #fff;
  margin-bottom: 0px;
}
ul li .description-critere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
ul li .critere-active + .description-critere {
  height: auto;
  max-height: 1000px;
  border: 1px solid #0075a8;
}
ul li .critere-active:after {
  content: url('../images/svg/iconNosProduitWhite.svg');
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
#search{
  background-image: url('../images/png/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  font-family: "sfnewrepublicbold", sans-serif;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 50px;
}
.catagory-content a{
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
  padding: 94px;
  margin: 15px;
  border-radius: 250px;
  background: -moz-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(50,200,250,1)), color-stop(100%, rgba(188,125,228,1)));
  background: -webkit-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -o-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: -ms-linear-gradient(180deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
  background: linear-gradient(270deg, rgba(50,200,250,1) 0%, rgba(88,125,228,1) 100%);
}
.margtop {
  margin-top: 20%;
}
#localisation{
  margin-bottom: 40px;
}
#localisation h2{
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 48px;
  float: left;
  color: #404040;
}
.entry-header:after{
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 30px;
  height: 30px;
  background: url(../images/svg/right-arrow-button.svg) no-repeat;
  background-size: 100%;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
ul li .description-modalite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
ul li .modalite-active + .description-modalite {
  height: auto;
  max-height: 1000px;
}
ul li .modalite-active:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: url(../images/svg/right-arrow-button.svg) no-repeat;
  background-size: 100%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 0.5s linear;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
ul#critere {
  margin-bottom: 40px;
}
#notfound {
  position: relative;
  top: 45%;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url(../images/png/emoji.png);
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  font-family: 'Nunito', sans-serif;
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}
@media only screen and (max-width: 1024px) {
  .catagory-content a {
    padding: 80px;
  }
  .site-navigation {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 159px;
    background: #000000;
  }
  .active{
    opacity: 1;
  }
  .nav-bar ul li {
    padding: 10px;
  }
  .nav-bar ul li a {
    color: #ffffff;
    font-size: 30px;
  }
  .col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
  }
  .commentaire-slider-wrap {
    padding: 72px 54px;
  }
  .our-critere-cont {
    margin-bottom: 0;
  }
  .contact-page-short-boxes {
    padding: 0;
  }
  .homepage-boxes {
    padding: 0 0;
  }
  .our-critere-cont h3 {
    font-size: 35px;
  }
  .opening-hours ul li {
    font-size: 30px;
  }
  .contact-info ul li {
    font-size: 30px;
  }
  .contact-info p {
    font-size: 30px;
  }
  .our-critere-cont .entry-content p {
    font-size: 30px;
  }
  .entry-content p{
    font-size: 30px;
    color: black;
  }
  .h-100 h2 {
    font-size: 40px;
    position: absolute;
    top: -24px;
  }
  #back-to-top{
    display: none;
  }
  .reseau-sociaux{
    display: none;
  }
  .d-block img {
    width: 150px;
    height: 150px;
  }
  .icon  {
    display: block;
  }
  .icon img{
    width: 100px;
    height: 100px;
  }
  .title-produit {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    height: 100%;
    padding: 200px 0 0 49px;
  }
  .catagory-content {
    padding: 60px;
  }
}
@media only screen and (max-width: 960px) {
  .title-produit {
    padding: 200px 0 0 147px;
  }
  .catagory-content {
    padding: 65px;
  }
  .catagory-content a {
    margin: 8px;
  }
}
@media only screen and (max-width: 468px) {
  .catagory-content a{
    padding: 60px;
  }
  .catagory-content {
    padding: 50px;
  }
}
@media only screen and (max-width: 398px) {
  .catagory-content a {
    padding: 35px;
  }
  .catagory-content {
    padding: 22px;
  }
  .title-produit {
    padding: 200px 0 0 0;
  }
}
