{% extends 'base.html.twig' %}
{% block title %}Detail de produit{% endblock %}
{% block icon %}
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/icon/'~link~'.ico') }}"/>
{% endblock %}
{% block body %}
    {% for detail in details %}
        <!-- section Image and categorie -->
        <header class="site-header" id="home">
            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            <div class="site-branding d-flex align-items-center">
                                <a class="d-block" href="#home" rel="home"><img
                                            src="{{ asset('/../images/svg/'~link~'.svg') }}" alt="logo"></a>
                            </div><!-- .site-branding -->
                            <div class="icon">
                                <img src="{{ asset('/../images/png/icons8-menu-64.png') }}" alt="menu">
                            </div>
                            <nav class="site-navigation d-flex justify-content-end align-items-center">
                                <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                    <li class="current-menu-item"><a href="#information">Information</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                    <li><a href="#critère">Critère</a></li>
                                    <li><a href="#partenaire">Partenaire</a></li>
                                    <li><a href="#commentaire">Commentaire</a></li>
                                    <li><a href="#localisation">Localisation</a></li>
                                </ul>
                            </nav><!-- .site-navigation -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
            <div class="flexslider">
                <ul class="slides">
                    {% for newphoto in detail.newPhotos %}
                        <li><img src="{{ newphoto.photo }}" alt=""></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="title-produit container">
                <h1>{{ detail.produit }}</h1>
                {% for categorie in detail.categorie %}
                    <h3>Catégorie : {{ categorie.categorie }}</h3>
                {% endfor %}
            </div>
        </header>
        <!-- section Information -->
        <section id="information">
            <div class="homepage-boxes">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="h-100 opening-hours">
                                <h2 class="d-flex align-items-center">Date validation</h2>
                                <ul class="p-0 m-0">
                                    {% for dateValidite in detail.dateValidite %}
                                        <li>Date validite debut : <span>{{ dateValidite.dateValiditeDebut }}</span></li>
                                        <li>Date validite fin : <span>{{ dateValidite.dateValiditeFin }}</span></li>
                                    {% endfor %}
                                    <li>Date mis à jour : <span>{{ detail.dateMAJ }}</span></li>
                                    <li>Date de creation : <span>{{ detail.dateCreation }}</span></li>
                                    <li>dateMajDispoPart : <span>{{ detail.dateMajDispoPart }}</span></li>
                                    <li>dateMajDispoPrest : <span>{{ detail.dateMajDispoPrest }}</span></li>
                                    <li>dateMajContenuPrest : <span>{{ detail.dateMajContenuPrest }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100 opening-hours">
                                <h2 class="d-flex align-items-center">Ville</h2>
                                <ul class="p-0 m-0">
                                    {% for ville in detail.ville %}
                                        <li>Ville : <span>{{ ville.intituleVille }}</span></li>
                                        <li>Coordonnee : <span>{{ ville.latitude }} {{ ville.longitude }}</span></li>
                                        <li>Code postal : <span>{{ ville.cpVille }} {{ ville.inseeVille }}</span></li>
                                        <input type="hidden" id="latitude" value="{{ ville.latitude }}">
                                        <input type="hidden" id="longitude" value="{{ ville.longitude }}">
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100 opening-hours">
                                <h2 class="d-flex align-items-center">Pays</h2>
                                <ul class="p-0 m-0">
                                    {% for pays in detail.pays %}
                                        <li>Pays : <span>{{ pays.intPays }}</span><span><img src="{{ pays.logoPays }}"
                                                                                             alt=""/></span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section contact-->
        <section id="contact">
            <div class="contact-page-short-boxes">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="contact-info h-100">
                                <h2 class="d-flex align-items-center">Adresse</h2>
                                {% for adresse in detail.adresses %}
                                    <ul class="p-0 m-0">
                                        <li>Nom et Prenom :
                                            <span> {{ adresse.prenom }}{{ adresse.nom }}{{ adresse.fonction }}</span>
                                        </li>
                                        <li><span>Adresse :</span> {{ adresse.civilite }}</li>
                                        <li><span>Phone :</span> {{ adresse.tel1 }}{{ adresse.tel2 }}</li>
                                        <li><span>Fax :</span> {{ adresse.fax }}</li>
                                        <li><span>Email :</span> {{ adresse.email }}</li>
                                        <li><span>Commune :</span>
                                            {% for commune in adresse.commune %}
                                                <span> {{ commune.commune }}{{ commune.codeInsee }}</span>
                                            {% endfor %}
                                        <li>
                                        <li><span>Pays : </span>
                                            {% for paysmonde in adresse.paysMonde %}
                                                <span> {{ paysmonde.pays }} {{ paysmonde.iso }}</span>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col">
                            <div class="contact-info h-100">
                                <h2 class="d-flex align-items-center">Disponibilite</h2>

                                <ul class="p-0 m-0">
                                    {% for dispo in detail.dispos %}
                                        <li><span>{{ dispo.annee }}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="col">
                            <div class="contact-info h-100">
                                <h2 class="d-flex align-items-center">State</h2>
                                <p>Nombre de consultation : <span>{{ detail.nbConsultations }}</span></p>
                                <p>Nombre avis : <span>{{ detail.nbAvis }}</span></p>
                                <p>Reference : <span>{{ detail.reference }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section Critère -->
        <section id="critère">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="our-critere-wrap">
                            <h2>Critère</h2>
                            <div class="row">
                                {% for criteres in detail.criteres %}
                                    <div class="col">
                                        <ul>
                                            <li>
                                                <div class="our-critere-cont">
                                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                                        <h3>{{ criteres.intCritere }}</h3>
                                                    </header>
                                                    <div class="description-modalite">
                                                        <div class="entry-content">
                                                            {% for modalite in criteres.modalites %}
                                                                <p>{{ modalite.intModalite }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section Partenaire -->
        <section id="partenaire" class="ligne">
            <div class="medical-team">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Partenaire</h2>
                        </div>
                        {% for partenaire in detail.partenaires %}
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="partenaire-team-wrap">
                                    <img src="{{ partenaire.logoPartenaire }}" alt="{{ partenaire.intPartenaire }}">

                                    <h4>{{ partenaire.intPartenaire }}</h4>
                                    <h5>{{ partenaire.emailPartenaire }}</h5>
                                    <h5>{{ partenaire.webPartenaire }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- section commentaire -->
        <section id="commentaire" class="commentaire-section ligne">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Commentaire</h2>
                    </div>
                </div>
            </div>
            <div class="commentaire">
                <div class="container">
                    <div class="row">
                        <div class="col-commentaire">
                            <div class="testimonial-bg-shape">
                                <div class="swiper-container commentaire-slider-wrap swiper-container-fade swiper-container-horizontal swiper-container-wp8-horizontal">
                                    <div class="swiper-wrapper" style="transition-duration: 0ms;">
                                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
                                             data-swiper-slide-index="3"
                                             style="width: 625px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                            {% for commentaire in detail.commentaires %}
                                                {% if commentaire.commentaire != '' %}
                                                    <div class="entry-content">
                                                        <p>{{ commentaire.commentaire }}</p>
                                                    </div>
                                                {% else %}
                                                    <div class="entry-content">
                                                        <p>Aucune commentaire</p>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="reseau-sociaux">
            <ul>
                {% for adresse in detail.adresses %}
                    {% if adresse.facebook != "" %}
                        <li><a href="{{ adresse.facebook }}" class="fa fa-facebook" target="_blank"></a></li>
                    {% endif %}
                    {% if adresse.twitter != "" %}
                        <li><a href="{{ adresse.twitter }}" class="fa fa-twitter" target="_blank"></a></li>
                    {% endif %}
                    {% if adresse.instagram != "" %}
                        <li><a href="{{ adresse.instagram }}" class="fa fa-instagram" target="_blank"></a></li>
                    {% endif %}
                    {% if adresse.googlePlus != "" %}
                        <li><a href="{{ adresse.googlePlus }}" class="fa fa-google-plus" target="_blank"></a></li>
                    {% endif %}
                    {% if adresse.viadeo != "" %}
                        <li><a href="{{ adresse.viadeo }}" class="fa fa-viadeo" target="_blank"></a></li>
                    {% endif %}
                    {% if adresse.linkedin != "" %}
                        <li><a href="{{ adresse.linkedin }}" class="fa fa-linkedin" target="_blank"></a></li>
                    {% endif %}
                    {% if adresse.web %}
                        <li><a href="{{ adresse.web }}" class="fa fa-globe" target="_blank"></a></li>
                    {% endif %}
                    {% if adresse.tumblr != "" %}
                        <li><a href="{{ adresse.tumblr }}" class="fa fa-tumblr" target="_blank"></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!---------map--------->
        <section id="localisation" class="localisation-section ligne">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Localisation</h2>
                    </div>
                </div>
            </div>
            <div class="container" id="mapid"></div>
        </section>
        <div><a id="back-to-top" href="#"><i class="fa fa-chevron-up" aria-hidden="true"></i></a></div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let coordonne = [];
        let data = {{ coordonne|json_encode|raw }};
        let modalites = JSON.parse(data);
        var markers = new L.MarkerClusterGroup();
        let produit = modalites[0].produit;
        $.each(modalites[0].criteres, function (key, value) {
            if (value.intCritere === "Géolocalisation") {
                coordonne.push([produit, value.modalites]);
            }
        });
        $.each(coordonne, function (key, value) {
            let latitude = value[1][1].valModalite;
            let longitude = value[1][0].valModalite;
            let map = L.map('mapid').setView([latitude, longitude], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoibW9oYW1lZDE5OTQwMSIsImEiOiJjanR6azVzZHoxZmlyM3lwZnAycDMyeXppIn0.zBqE0ndSagnTnp0Ly8-rhg'
            }).addTo(map);
            L.marker([latitude, longitude], 13).bindPopup('<span>' + value[0] + '</span>').addTo(map);

        });
    </script>
{% endblock %}
