{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
        <div class="top_catagory_area section-padding-80 clearfix margtop">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Single Catagory -->
                {% for flux in flux %}
                <div>
                    <div>
                        <div class="catagory-content">
                            <a href="{{ url('list_categories',{'link' : flux['link'] }) }}">
                                <img src="{{ asset('images/svg/'~flux['logo']) }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
