{% extends 'base.html.twig' %}

{% block title %}Localiser les produits {% endblock %}
{% block icon %}
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/icon/'~link~'.ico') }}"/>
{% endblock %}
{% block body %}
    <input type="hidden" id="link" value="{{ link }}">
    <div class="container">
        <div><h1>Localisation</h1></div>
    </div>
        <div id="mapid"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let feature = [];
        let coordonne = [];
        let linkk = document.getElementById("link");
        let link = linkk.value;
        let data = {{ result|json_encode|raw }};
        let modalites = JSON.parse(data);
        var markers = new L.MarkerClusterGroup();
        $.each(modalites, function (key, value) {
            let id = value[0].id;
            let produit = value[0].produit;
            let url = '/'+link+'/listProduit/detailProduit/'+id;
            $.each(value[0].criteres, function (key, valuee) {
                if(valuee.intCritere === "Géolocalisation"){
                    coordonne.push([url,produit,valuee.modalites]);
                }
            });
        });
        let map = L.map('mapid').setView([coordonne[0][2][1].valModalite,coordonne[0][2][0].valModalite ], 9);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoibW9oYW1lZDE5OTQwMSIsImEiOiJjanR6azVzZHoxZmlyM3lwZnAycDMyeXppIn0.zBqE0ndSagnTnp0Ly8-rhg'
        }).addTo(map);
        
        $.each(coordonne, function (key, value) {
            var popup = L.popup({
                closeOnClick: false,
                autoClose: false
            }).setContent('<a href='+value[0]+'>'+value[1]+'</br></a>');
            let marker = L.marker([value[2][1].valModalite,value[2][0].valModalite ], 13).addTo(map).bindPopup(popup);
            markers.addLayer(marker);
            map.addLayer(markers);
        });
    </script>
{% endblock %}
