{% extends 'base.html.twig' %}

{% block title %}Litse des produits{% endblock %}
{% block icon %}
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/icon/'~link~'.ico') }}"/>
{% endblock %}
    {% block body %}
        <div class="limiter">
            <div class="container">
                <h1>Liste des produits</h1>
                <span>Nombre total : {{ nbrtotal }}</span>
                <div class="wrap-table100">
                    <div class="table100">
                        <table id="example" class="display nowrap">
                            <thead>
                        <tr class="table100-head">
                            <th class="column1">id</th>
                            <th class="column2">produit</th>
                            <th class="column3">dispo</th>
                            <th class="column4">il</th>
                            <th class="column5">nbConsultations</th>
                            <th class="column6">pic</th>
                            <th class="column7">detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if nbrtotal == 0 %}
                            <td class="column1">aucun produit</td>
                        {% else %}
                            {% for produit in produits %}
                            <tr>
                                <td class="column1">{{ produit.id }}</td>
                                <td class="column2">{{ produit.produit }}</td>
                                <td class="column3">{{ produit.dispo }}</td>
                                <td class="column4">{{ produit.il }}</td>
                                <td class="column5">{{ produit.nbConsultations }}</td>
                                <td class="column6">{{ produit.pic }}</td>
                                <td class="column7">
                                    <a class="action" href="{{ path('detail_product',{'idp' : produit.id,'link' : link } ) }}">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
