{% extends 'base.html.twig' %}

{% block title %}Litse des critères{% endblock %}
{% block icon %}
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/icon/'~link~'.ico') }}"/>
{% endblock %}
{% block body %}
        <div class="container limiter">
            <div><h1>Liste des critères {{ categorie }}</h1></div>
            {% if criteres[0].id != '' %}
                <div>
                    <input type="text" id="search" onkeyup="searchCritere()" placeholder="Recherche de critère..." title="critere">
                </div>
            {% endif %}
            <ul id="critere">
                {% for critere in criteres %}
                    {% if critere.id == '' %}
                    <li>
                        <p class="title-critere">
                            aucune critère
                        </p>
                    </li>
                    {% else %}
                    <li>
                        <p class="title-critere">
                            {{ critere.intCritere }}
                        </p>
                        <div class="description-critere">
                            <div class="text-critere">
                                {% for modalite in critere.modalites %}
                                <p>{{ modalite.modalite }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
{% endblock %}
