{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}
{% block icon %}
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/icon/'~link~'.ico') }}"/>
{% endblock %}
{% block body %}
<div class="limiter">
    <div class="container">
        <h1>Liste des catégories</h1>
        <div class="wrap-table100">
            <div class="table100">
                <table id="example" class="display nowrap">
                    <thead>
                    <tr id="table100-head">
                        <th class="column1">id</th>
                        <th class="column2">categorie</th>
                        <th class="column3">gestionDispo</th>
                        <th class="column4">nbFils</th>
                        <th class="column5">niveau</th>
                        <th class="column6">pere</th>
                        <th class="column7">liste produit</th>
                        <th class="column7">map</th>
                        <th class="column8">liste critere</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                    <tr>
                        <td class="column1">{{ categorie.id }}</td>
                        <td class="column2">{{ categorie.categorie }}</td>
                        <td class="column3">{{ categorie.gestionDispo }}</td>
                        <td class="column4">{{ categorie.nbFils }}</td>
                        <td class="column5">{{ categorie.niveau }}</td>
                        <td class="column6">{{ categorie.pere }}</td>
                        <td class="column7">
                            <a href="{{ path('list_product',{'idc' : categorie.id ,'link' : link }) }}">
                                <i class="fa fa-list-alt"></i>
                            </a>
                        </td>
                        <td class="column8">
                            <a class="action" href="{{ path('list_product_in_map',{'idc' : categorie.id,'link' : link } ) }}">
                                <i class="fa fa-map" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="column9">
                            <a href="{{ path('list_critere',{'idc' : categorie.id , 'link' : link }) }}">
                                <i class="fa fa-list-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
