{% extends 'base.html.twig' %}
{% block title %}Recherche{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #form{
            margin-top: 100px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container" id="form">
        <form method="post" action="{{ path('search') }}">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputdatedebut">Date Debut</label>
                    <input type="date" class="form-control datedebut" name="datedebut" id="inputdatedebut" placeholder="Date Debut" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputdatefin">Date Fin</label>
                    <input type="date" class="form-control datefin" name="datefin" id="inputdatefin" placeholder="Date Fin" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="product">Choisir un produit</label><select id="product" class="form-control">
                        <option  value="" selected="selected">--Select produit--</option>
                        {% for product in products %}
                            <option value="{{ product.SyndicObjectID }}">{{ product.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary search">Recherche</button>
        </form>
    </div>
    <div class="modal fade" id="empModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Liste des produits</h4>
                </div>
                <div class="modal-body">
                    <span class="listproduct"></span>
                    <ul class="indispos">
                    </ul>
                    <ul class="dispos">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('click', 'button.search', function(){
            $('.listproduct').empty();
            $('.dispos').empty();
            $('.indispos').empty();
            let s = 0;
            let id = $('#product').val();
            let datedebut = $('.datedebut').val().slice(0, -6);
            let datefin = $('.datefin').val().slice(0, -6);
            let date = [datedebut,datefin];
                $.ajax({
                    url:'{{ path('search') }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "id": id
                    },
                    async: false,
                    success: function (data)
                    {
                        $('.listproduct').append(data.products.intitule);
                        for (let j=0;j<date.length;j++){
                            for (let i=0;i<data.products.dispos.dispo.length;i++) {
                                if (data.products.dispos.dispo[i]["@annee"] === parseInt(date[j])) {
                                    $('.dispos').append("<li> Au " + data.products.dispos.dispo[i]["@annee"] + ", ce produit disponible : " + treatmentDispo(data.products.dispos.dispo[i]["#"])[0] + "jrs" +
                                        " indisponible : " + treatmentDispo(data.products.dispos.dispo[i]["#"])[1] + "jrs" + "</li>");
                                }else{
                                    s++;
                                }
                            }
                        }
                        if(s === 6){
                            $('.indispos').append("Disponible dans :"+datedebut+" "+datefin+"</br>");
                            for (let i=0;i<data.products.dispos.dispo.length;i++) {
                                $('.dispos').append("<li> Au " + data.products.dispos.dispo[i]["@annee"] + ", ce produit disponible : " + treatmentDispo(data.products.dispos.dispo[i]["#"])[0] + "jrs" +
                                    " indisponible : " + treatmentDispo(data.products.dispos.dispo[i]["#"])[1] + "jrs" + "</li>");
                            }
                        }
                        $('#empModal').modal('show');
                    }
                });
            return false;
        });
        function treatmentDispo(data) {
            let dispo = 0;
            let indispo = 0;
            let tab = data.split("");
            for (let i = 0;i<tab.length;i++){
                if (tab[i] === "I"){
                    indispo++;
                }else{
                    dispo++;
                }
            }
            return [parseInt(dispo),parseInt(indispo)];
        }
    </script>
{% endblock %}
