<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}index{% endblock %}</title>
        <!---------------------------------------------------------------------->
        {% block icon %}
        <link rel="shortcut icon" type="image/png" href="{{ asset('images/icon/symfony.ico') }}"/>
        {% endblock %}
        <!---------------------------------------------------------------------->
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/dataTables.material.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/flexslider.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
            <!--==================================================--->
            <link rel="stylesheet" href="{{ asset('css/leaflet/leaflet.css') }}">
            <link rel="stylesheet" href="{{ asset('css/leaflet/MarkerCluster.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/leaflet/MarkerCluster.Default.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/jquery/jquery-3.3.1.js') }}"></script>
            <script src="{{ asset('js/leaflet/leaflet.js') }}"></script>
            <script src="{{ asset('js/leaflet/leaflet.markercluster.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/jquery/jquery.dataTables.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('vendor/jquery/dataTables.material.min.js') }}"></script>
            <script src="{{ asset('vendor/jquery/jquery.dataTables.min.js') }}"></script>
            <script src="{{ asset('vendor/jquery/jquery.flexslider-min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <!--===============================================================================================-->
        {% endblock %}
    </body>
</html>
