{% extends 'base.html.twig' %}
{% block title %}Error{% endblock %}
{% block body %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404"></div>
            {% if status_code == 404 %}
                <h1>404</h1>
                <h2>Oops! Page Not Be Found</h2>
            {% elseif status_code == 500 %}
                <h1>500</h1>
                <h2>Internal Server Error</h2>
            {% elseif status_code == 503 %}
                <h1>503</h1>
                <h2>Maintenance</h2>
            {% else %}
                <h1>Error</h1>
            {% endif %}
            <a href="{{ path('index') }}">Back to homepage</a>
        </div>
    </div>
{% endblock %}
